.primaria {
    background-color: blue;
    color: white;
    padding: 10px;
}

.secundaria {
    background-color: gray;
    color: orange;
    padding: 20px;
}

.fonte{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}